ul{
    list-style: none;
}

li{
    padding: 5px;
}

li > div{
    position: relative;
    padding: 10px 20px;
    background: white;
    border: 1px solid #ccc;
}

.tag{
    margin-right: 5px;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

p{
    margin: 15px 0;
}

.delete-button{
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: red;
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.delete-button:hover{
    opacity: .7;
}