<a routerLink="/detailed"><button class="add-button">Add New Phone Item</button></a>
<ul class="phones">
  <li *ngFor="let item of items">
    <div>
      <p><strong>Name: </strong>{{item.name}}</p>
      <p><strong>E-mail: </strong>{{item.email}}</p>
      <p><strong>Phone Number: </strong>{{item.number}}</p>
      <p><strong>Tags: </strong>
        <span class="tag" *ngFor="let tag of item.tags">{{tag}}</span>
      </p>
      <button class="delete-button" (click)="deletePhoneItem(item.id)">Delete</button>
    </div>
  </li>
</ul>